main {
  position: absolute;
  top: 100px;
  left: 340px;
  width: 100%;
}

.management_info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  font-size: 20px;
}

.management_info .info_date {
  font-size: 15px;
  color: var(--color-border);
}

.management_info img {
  width: 80px;
  height: 80px;
  margin-right: 30px;
}

.management_info .info_title {
  line-height: 30px;
}

.info_title .info_location {
  font-size: 30px;
  font-family: var(--font-kor);
}

.management_view {
  width: 100%;
  height: 1300px;
}

.management_view .view_info {
  display: grid;
  grid-template-rows: repeat(4, 150px);
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid var(--color-border);
  border-radius: 5px;
  place-items: center;
  background-color: #fff;
}

.view_info .view_status {
  display: flex;
  width: 330px;
  height: 100px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  margin-bottom: 15px;
}

.status_main,
.view_status .status_one,
.view_status .status_one_red {
  width: 100px;
  margin: 5px;
  text-align: center;
  background-color: rgb(171, 247, 31);
  background-image: url("/toilet.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.view_status .status_one_red {
  background-color: red;
}
.status_other,
.view_status .status_two {
  display: flex;
  align-items: center;
  border-left: 1px solid var(--color-border);
  border-radius: 5px;
}
.status_other li,
.status_two li,
.view_example > li > div {
  width: 100px;
  height: 90px;
  margin-left: 5px;
}

.view_example .human_msg,
.status_two .human_msg {
  background-color: rgb(100, 151, 100);
  border-radius: 10px;
}

.view_example .tissue_msg,
.status_two .tissue_msg {
  background-color: rgb(47, 191, 235);
  border-radius: 10px;
}

.status_red {
  background-color: red;
  border-radius: 10px;
}

.status_yellow {
  background-color: rgb(171, 247, 31);
  border-radius: 10px;
}

.view_example {
  display: flex;
  width: 1200px;
  height: 150px;
  font-size: 30px;
  margin-top: 10px;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  background-color: #fff;
}

.view_example li {
  display: flex;
  align-items: center;
  margin: 0 15px;
}

/* .status_other .human_data .hide {
  display: none;
}

.status_other .tissue_data .hide {
  display: none;
} */

.status_other .human_data {
  display: none;
  background-color: rgb(100, 151, 100);
  border-radius: 10px;
}

.status_other .tissue_data {
  display: none;
  background-color: rgb(47, 191, 235);
  border-radius: 10px;
}
