<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>

    <!-- <script defer type="module" src="/socket.js"></script> -->
    <!-- <script defer type="module" src="/testWifi.js"></script> -->
  </head>
  <body>
    <h1>data page</h1>
    <span id="rand">-</span>
  </body>
</html>

<%= human %> <%= tissue %>
