<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/home/article.css" />
    <link rel="stylesheet" href="/home/header.css" />
    <link rel="stylesheet" href="/home/main.css" />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <article>
      <ul class="board">
        <li class="board_header">
          <div class="board_logo">
            <img src="/test_logo.png" alt="" />
          </div>
          <div class="board_title">
            <div class="board_mainTitle">관할구역 [ 남구 ]</div>
            <div class="board_subTitle">Management & Monitoring</div>
          </div>
        </li>
        <li class="board_menu">
          <div class="board_mainMenu">
            <p>main menu</p>
            <ul>
              <li>
                <a href="javascript:void(0)">
                  <span class="material-icons">apps</span>
                  <span>Overview</span></a
                >
              </li>
              <li>
                <a href="javascript:void(0)">
                  <span class="material-icons">description</span>
                  <span>Documents</span></a
                >
              </li>
              <li>
                <a href="javascript:void(0)">
                  <span class="material-icons">payment</span>
                  <span>Payments</span></a
                >
              </li>
              <li>
                <a href="javascript:void(0)">
                  <span class="material-icons">question_answer</span>
                  <span>Messages</span></a
                >
              </li>
              <li>
                <a href="javascript:void(0)">
                  <span class="material-icons"> donut_small </span>
                  <span>Report Center</span></a
                >
              </li>
            </ul>
          </div>
          <div class="board_preferences">
            <p>preferences</p>
            <ul>
              <li>
                <a href="javascript:void(0)">
                  <span class="material-icons"> person </span>
                  <span>Users</span></a
                >
              </li>
              <li>
                <a href="javascript:void(0)">
                  <span class="material-icons"> settings </span>
                  <span>Settings</span></a
                >
              </li>
            </ul>
          </div>
        </li>
        <li class="update">
          <p class="update_massage">Upgrade to Enterprise Account!</p>
          <p class="update_description">
            Increase your sales by using special features of Enterprise
            Membership.
          </p>
          <button class="update_btn">Ugrade</button>
        </li>
      </ul>
    </article>
    <header></header>
    <main></main>
  </body>
</html>
