<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restroom | <%= pageTitle %></title>

    <!-- css -->
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/home/article.css" />
    <link rel="stylesheet" href="/home/header.css" />
    <link rel="stylesheet" href="/home/main.css" />

    <!-- js -->
    <!-- <script defer type="module" src="/socket.js"></script> -->
    <script defer type="module" src="/wifi.js"></script>

    <!-- icon -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Roboto:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <article>
      <ul class="board">
        <li class="board_header">
          <div class="board_logo">
            <img src="/test_logo.png" alt="" />
          </div>
          <div class="board_title">
            <div class="board_mainTitle">
              <a href="/mobile">관할구역 [ 남구 ]</a>
            </div>
            <div class="board_subTitle">Management & Monitoring</div>
          </div>
        </li>
        <li class="board_menu">
          <div class="board_mainMenu">
            <p>main menu</p>
            <ul>
              <li>
                <a href="javascript:void(0)">
                  <span class="material-icons"> apps </span>
                  <span>Overview</span></a
                >
              </li>
              <li>
                <a href="javascript:void(0)">
                  <span class="material-icons"> description </span>
                  <span>Documents</span></a
                >
              </li>
              <li>
                <a href="javascript:void(0)">
                  <span class="material-icons"> payment </span>
                  <span>Payments</span></a
                >
              </li>
              <li>
                <a href="javascript:void(0)">
                  <span class="material-icons"> question_answer </span>
                  <span>Messages</span></a
                >
              </li>
              <li>
                <a href="javascript:void(0)">
                  <span class="material-icons"> donut_small </span>
                  <span>Report Center</span></a
                >
              </li>
            </ul>
          </div>
          <div class="board_preferences">
            <p>preferences</p>
            <ul>
              <li>
                <a href="javascript:void(0)">
                  <span class="material-icons"> person </span>
                  <span>Users</span></a
                >
              </li>
              <li>
                <a href="javascript:void(0)">
                  <span class="material-icons"> settings </span>
                  <span>Settings</span></a
                >
              </li>
            </ul>
          </div>
        </li>
        <!-- <li class="update">
          <p class="update_massage">Upgrade to <br />Enterprise Account!</p>
          <p class="update_description">
            Increase your sales by using special <br />features of Enterprise
            Membership.
          </p>
          <button class="update_btn">Ugrade</button>
        </li> -->
      </ul>
    </article>
    <header>
      <ul class="headerBar">
        <li class="search">
          <span class="material-icons"> search </span>
          <input type="text" name="" id="" placeholder="Search Data" />
        </li>
        <li>
          <ul class="user">
            <li>
              <span class="material-symbols-outlined"> notifications </span>
            </li>
            <li class="user_profile">
              <img src="/test_logo.png" alt="" class="profile_image" />
              <span class="profile_name">남구청 관리자</span>
            </li>
            <li>
              <span class="material-symbols-outlined user_more">
                expand_more
              </span>
            </li>
          </ul>
        </li>
      </ul>
    </header>
    <main>
      <section class="power">
        <div class="management_info">
          <img src="/test_logo.png" alt="" class="info_logo" />
          <div class="info_title">
            <div class="info_location">유엔공원 | 조성윤</div>
            <!-- <div class="info_user"></div> -->
            <!-- <div class="info_date">Created: 24/02/2023</div> -->
          </div>
        </div>

        <div class="management_view">
          <ul class="view_info">
            <li class="view_status">
              <div class="status_main">1</div>
              <ul class="status_other">
                <!-- <li class="human_data"></li> -->
                <!-- <li class="tissue_data"></li> -->
                <li class="human_wifiData" value=""><%= human %></li>
                <li class="tissue_wifiData" value=""><%= tissue %></li>
              </ul>
            </li>
            <li class="view_status">
              <div class="status_one">2</div>
              <ul class="status_two"></ul>
            </li>
            <li class="view_status">
              <div class="status_one">3</div>
              <ul class="status_two"></ul>
            </li>
            <li class="view_status">
              <div class="status_one">4</div>
              <ul class="status_two"></ul>
            </li>
            <li class="view_status">
              <div class="status_one_red">5</div>
              <ul class="status_two">
                <li class="tissue_msg"></li>
              </ul>
            </li>
            <li class="view_status">
              <div class="status_one">6</div>
              <ul class="status_two"></ul>
            </li>
            <li class="view_status">
              <div class="status_one_red">7</div>
              <ul class="status_two">
                <li class="human_msg"></li>
              </ul>
            </li>
            <li class="view_status">
              <div class="status_one_red">8</div>
              <ul class="status_two">
                <li class="tissue_msg"></li>
              </ul>
            </li>
            <li class="view_status">
              <div class="status_one_red">9</div>
              <ul class="status_two">
                <li class="human_msg"></li>
              </ul>
            </li>
            <li class="view_status">
              <div class="status_one_red">10</div>
              <ul class="status_two">
                <li class="human_msg"></li>
              </ul>
            </li>
            <li class="view_status">
              <div class="status_one">11</div>
              <ul class="status_two"></ul>
            </li>
            <li class="view_status">
              <div class="status_one_red">12</div>
              <ul class="status_two">
                <li class="tissue_msg"></li>
                <li class="human_msg"></li>
              </ul>
            </li>
            <li class="view_status">
              <div class="status_one">13</div>
              <ul class="status_two"></ul>
            </li>
            <li class="view_status">
              <div class="status_one_red">14</div>
              <ul class="status_two">
                <li class="tissue_msg"></li>
                <li class="human_msg"></li>
              </ul>
            </li>
            <li class="view_status">
              <div class="status_one">15</div>
              <ul class="status_two"></ul>
            </li>
            <li class="view_status">
              <div class="status_one_red">16</div>
              <ul class="status_two">
                <li class="tissue_msg"></li>
              </ul>
            </li>
            <li class="view_status">
              <div class="status_one">17</div>
              <ul class="status_two"></ul>
            </li>
            <li class="view_status">
              <div class="status_one">18</div>
              <ul class="status_two"></ul>
            </li>
            <li class="view_status">
              <div class="status_one">19</div>
              <ul class="status_two"></ul>
            </li>
            <li class="view_status">
              <div class="status_one_red">20</div>
              <ul class="status_two">
                <li class="tissue_msg"></li>
                <li class="human_msg"></li>
              </ul>
            </li>
          </ul>
          <ul class="view_example">
            <li>
              <span>휴지부족 :</span>
              <div class="tissue_msg"></div>
            </li>
            <li>
              <span>인체감지 작동 :</span>
              <div class="human_msg"></div>
            </li>
            <li>
              <span>사용가능 :</span>
              <div class="status_yellow"></div>
            </li>
            <li>
              <span>사용불가능 :</span>
              <div class="status_red"></div>
            </li>
          </ul>
        </div>
      </section>
    </main>
  </body>
</html>
